* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
     --primary-color: #EBE7E7;
     --secondary-color: #6B1294;
     --color-secondary: #cf8ceea9;
     --secondary-color-hover: #611186;
     --text-color: #0F0F0F;
     --stroker: #6b6b6b;
     --hover-roxo: #e09eff96;
     --corBranca: #FFFFFF;
     

}

body {
    background-color: var(--primary-color);
    max-width: 1440px;
    margin: 0 auto;
}

main {  
    padding: 60px 20px 20px 90px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem; /* 120px */
    padding: 0 0;
    background-color: var(--primary-color);
    border-bottom: 0.0625rem solid #8C8B8B; /* 1px */
}

.usuario p {
    font-family: 'roboto', sans-serif;
    font-size: 0.9375rem; /* 15px */
    color: #4D4A4A;
    margin-top: 3px;
}

.nav-buttons {
    display: flex;
    gap: 1.0625rem; /* 17px */
    align-items: center;
    margin-left: 16.75rem; /* 268px */
}

.nav-button {
    padding: 0.625rem 0.875rem; /* 10px 14px */
    border-radius: 1.25rem; /* 20px */
    border: 0.0625rem solid var(--secondary-color); /* 1px */
    background-color: transparent;
    font-family: 'Noto sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
    color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.2s;
}

.nav-button.active {
    background-color: var(--secondary-color);
    font-family: 'Noto sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
    color: var(--corBranca);
}

.notificacao {
    width: 1.791875rem; /* 28.67px */
    height: 2.09375rem; /* 33.5px */
    margin-right: 6.25rem; /* 100px */
    margin-left: 2.125rem; /* 34px */
    margin-top: 5px;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 0.9375rem; /* 15px */
}

.usuario img {
    width: 3.8125rem; /* 61px */
    height: 3.8125rem; /* 61px */
    border-radius: 100%;
    margin-left: 6.6875rem; /* 107px */
}

.usuario h1 {
    font-family: 'roboto', sans-serif;
    font-size: 1.5rem; /* 24px */
    font-weight: 600;
    margin-top: 1rem; /* 16px */
}

.titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: 600;
    margin-left: 42px;
    margin-bottom: 60px;
    color: var(--text-color);
}

.perfil {
    display: grid;
    grid-template-columns: 480px 1fr;
    align-items: start;
    gap: 60px;

}

.imagem-perfil {
    border-radius: 15px;
}

.descricao {
    display: flex;
    flex-direction: column;
}

.borda {
    border-bottom: 1px solid #919191;
    margin-bottom: 37px;
}

.h2 {
    font-family: 'Sora', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #1E1E1E;
}

.h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #1E1E1E;
    margin-bottom: 27px;
}

.botao-editar {
    font-family: 'Noto sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 320px;
    height: 50px;
    margin-left: 1000px;
    margin-top: 2px;
    background-color: #B889FBCC;
    color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


@media (min-width: 1441px) {
  main {
    padding-top: 40px;
  }

  .titulo {
    margin-bottom: 40px;
  }
}